[run]
source = .
omit =
    /migrations/
    venv/*
    */models.py
    /models/
    /tests//models_*.py
    */tests/test_models.py
    manage.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py
    */admin.py
    */apps.py

[report]
exclude_lines =
    pragma: no cover
    def str
    def repr
    pass
    raise NotImplementedError