.modal-content {
    background-color: #ECECEC;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 100%;
    max-width: 800px;
}

.modal-header {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50%;
    border-bottom: none;
    padding-top: 80px;
    text-align: center;
}

.modal-title {
    font-family: "Monserrat", sans-serif;
    font-size: 36px;
    color: #000000;
    font-weight: 900;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-cerrar {
    background-color: #D4E484;
    border: 2px solid #626E15;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
}

.modal-footer {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50%;
    border-top: none;
    padding-bottom: 100px;
}

.btn:hover.cerrar {
    background-color: #C9DC4E !important; 
    color: inherit !important; 
    border-color: 2px solid #626E15 !important; 
    font-family: 'inter', sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.custom-delete-modal .modal-header {
    border-bottom: none;
    text-align: center;
    justify-content: center;
}

.custom-delete-modal .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-delete-modal .modal-title {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.custom-delete-modal .modal-body p {
    margin: 5px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.custom-delete-modal .modal-footer .btn {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    
}

#confirmDeleteModal .modal-dialog {
    max-width: 800px; 
    margin: auto;
}
  
.custom-delete-modal::before,
.custom-delete-modal::after {
    display: none !important;
}

#confirmModal .modal-content{
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#confirmDeleteModal .modal-content{
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}