{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  .content {
    overflow: scroll;
  }

  .filtro-container-reparacion {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form-select-sm {
    min-width: 120px;
    /* o el ancho que prefieras */
  }

  .header-icons-reparacion {
    gap: 0px;
    justify-content: start;
    align-items: center;
  }

  .form-reloj {
    display: flex;
    flex-direction: row;
  }
</style>

<div class="main-content">
  <!-- Botón Agregar reparación -->
  <div class="header-icons">
    <h2 class="titulo">
      {% if 'servicios' in request.path %}
      RELOJES EN VENTA
      {% else %}
      RELOJES
      {% endif %}
  </h2>
    <!--{% if 'servicios' in request.path %}
    <a href="#" class="btn btn-add me-3s">Vender Reloj</a>
    {% else %}-->
    <a href="{% url 'reloj_create' %}" class="btn btn-add me-3s">Agregar Reloj</a>
    <!--{% endif %}-->
  </div>

  <!-- Campo de búsqueda -->
  <div class="header-icons header-icons-reparacion">
    <form method="get"
      action="{%if 'servicios' in request.path%}{% url 'reloj_venta_list' %}{% else %}{% url 'reloj_list' %}{% endif %}"
      class="search-form">
      <div class="input-group input-group-reparacion" style="gap: 10px;">
        <input type="text" name="search" class="form-control form-control-reparacion"
          placeholder="Buscar reloj por referencia" value="{{ request.GET.search }}">
        <button class="btn btn-search" type="submit">
          <i class="bi bi-search text-secondary"></i>
        </button>
      </div>
    </form>
    <div class="filtro-container-reparacion ms-3 d-flex gap-2">
      <form method="get" action="{% url 'reloj_list' %}" id="filtroForm" class="d-flex gap-2 form-reloj">
        <!-- Mantener la búsqueda actual si existe -->
        {% if search %}
        <input type="hidden" name="search" value="{{ search }}">
        {% endif %}

        {% if 'productos' in request.path %}
        <select name="estado" class="form-select form-select-sm" onchange="this.form.submit()" data-bs-toggle="tooltip"
          data-bs-placement="top" title="Filtrar relojes por estado">
          {% for valor, texto in estados %}
          <option value="{{ valor }}" {% if filtro_estado == valor %}selected{% endif %}>
            {{ texto }}
          </option>
          {% endfor %}
        </select>

        <select name="tipo" class="form-select form-select-sm" onchange="this.form.submit()" data-bs-toggle="tooltip"
          data-bs-placement="top" title="Filtrar relojes por tipo">
          {% for valor, texto in tipos %}
          <option value="{{ valor }}" {% if filtro_tipo == valor %}selected{% endif %}>
            {{ texto }}
          </option>
          {% endfor %}
        </select>
        {% endif %}
      </form>
    </div>
  </div>

  <!-- Lista de relojes -->
  <div class="table-container">
    <table class="table table-hover align-middle custom-table">
      <thead class="table-header">
        <tr>
          <th>Marca</th>
          <th>Referencia </th>
          <th>Precio </th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for reloj in relojes %}
        <tr>
          <td>
            {{ reloj.marca }}
          </td>
          <td>
            {{ reloj.referencia }}
          </td>
          <td>
            {{ reloj.precio }}
          </td>
          <td>
            {{ reloj.tipo }}
          </td>
          <td>
            {% if 'servicios' in request.path %}
            <a href="{% url 'reloj_venta' reloj.id %}" class="btn btn-sm btn-outline-primary">
              <i class="bi bi-cart-check fs-4"></i>
            </a>
            {% else %}
            <a href="{% url 'reloj_edit' reloj.id %}" class="btn btn-sm btn-outline-primary">
              <i class="bi bi-pencil fs-4"></i>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    <!-- Paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination">

        <li class="page-item">
          <a class="page-link"
            href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }} {% endif %}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>


        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}

        <li class="page-item">
          <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% endif %}"
            aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>
    {% endif %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize all tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  });
</script>
{% endblock %}