{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="egreso-container">
                <div class="egreso-header">
                    <h2 class="text-center">EGRESOS DEL DIA</h2>
                    <div class="valor-total">
                      <div class="valor-box ">{{ total_egresos|default:"0" }} COP</div>
                    </div>
                </div>

                <div class="agregar-egreso">
                    <h4 class="text-center mb-4">AGREGAR EGRESO</h4>
                    <div class="form-group d-flex flex-column align-items-center mb-3">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-coins"></i></span>
                                {{ form.valor }}
                                {% if form.valor.errors %}
                                <div class="error-message">
                                    {{ form.valor.errors.0 }}
                                </div>
                                <style>
                                    #id_valor {
                                        border: 1px solid red;
                                    }
                                </style>
                                {% endif %}
                            </div>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                {{ form.fecha }}
                                {% if form.fecha.errors %}
                                <div class="error-message">
                                    {{ form.fecha.errors.0 }}
                                </div>
                                <style>
                                    #id_fecha {
                                        border: 1px solid red;
                                    }
                                </style>
                                {% endif %}
                            </div>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
                                {{ form.descripcion }}
                                {% if form.descripcion.errors %}
                                <div class="error-message">
                                    {{ form.descripcion.errors.0 }}
                                </div>
                                <style>
                                    #id_descripcion {
                                        border: 1px solid red;
                                    }
                                </style>
                                {% endif %}
                            </div>
                        
                        
                        
                        
                        <div class="button-container">
                            <button type="submit" class="btn btn-guardar">GUARDAR</button>
                            <button type="button" class="btn btn-cancelar">CANCELAR</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}